.header-con {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  width: 450px;
  height: 70px;
  border-radius: 10px;
  background-color: #9CA3AF;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  z-index: 10;
}

.logo {
  border: 1px solid black;
  width: 110px;
  height: 55px;
  border-radius: 10px;
  object-fit: contain;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.nav-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

a {
  text-decoration: none;
  border-radius: 6px;
  background-color: #6B7280;
  color: black;
  padding: 5px 10px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  transition: all 0.2s ease;
}

a:hover {
  color: #E5E7EB;
}

.logout-btn {
  border: none;
  border-radius: 6px;
  background-color: #6B7280;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  transition: all 0.2s ease;
}

.logout-btn:hover {
  color: #E5E7EB;
}