.BlogPost-con{

border: 1px solid black;
width: 450px;
height: 500px;
display: flex;
justify-content: center;
align-items: center;
margin: 80px;
display: flex;
gap: 20px;
overflow-x: auto§;
padding: 10px;

}


.blog-card{
border: 1px solid black;
width: 95%;
height: 95%;

}

.blog-image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}