.form-con{
    border: 1px solid black;
    height: 450px;
    width: 400px;
    background-color:  #9CA3AF;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   z-index: 10;

   
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

form input,form button{
    width: 90%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    
}


form textarea{
    width: 90%;
    height: 120px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    resize: vertical;
    background-color: #E5E7EB;
}



.submit-btn{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    font-size: 16pxs;
    cursor: pointer;
    transition: 0.3s;
    background-color: #E5E7EB;
}
.submit-btn:hover{
    background-color: #1D4ED8;}